/* global config */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --active-color: #2196f3;
  --dark-background-color: #2f303a;
  --gray-background-color: #f5f4fa;
  --border-line: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --box-border-color: #eeeeee;
  --principles-icon-background: #f5f4fa;
  --social-default-fill: #afb1b8;
  --footer-socials-background: rgba(255, 255, 255, 0.1);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --black-color: #000000;
  --modal-textarea-color: rgba(117, 117, 117, 0.5);
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* svg {
  display: block;
  max-width: 100%;
} */

/* container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid var(--box-border-color);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--active-color);
}

.header__logo-part {
  color: var(--main-text-color);
}

.footer__logo-part {
  color: var(--white-color);
}

.logo:hover,
.logo:focus {
  text-decoration-color: var(--active-color);
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav__link {
  position: relative;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--active-color);
  /* text-decoration-color: var(--active-color); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.site-nav__link--current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
}

.site-nav__link.site-nav__link--current {
  color: var(--active-color);
}

.contacts {
  display: flex;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-color);
}

.contacts__icon--mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contacts__icon--smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

/* main */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* section hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__btn {
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.principles__thumb {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--main-text-color);
  background-color: var(--principles-icon-background);
  border-radius: 4px;
}

.principles__icon {
  width: 70px;
  height: 70px;
}

.principles__items {
  display: flex;
  margin-left: -30px;
}

.principles__itm {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.principles__subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.principles__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.wedo {
  padding-top: 0;
}

.wedo__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: var(--main-text-color); */
}

.wedo__cards {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: -30px;
}

.wedo__pic {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.wedo__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.team {
  background-color: var(--gray-background-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: var(--main-text-color); */
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__set {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__details {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  padding: 12px;
  color: var(--social-default-fill);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socials__link:hover,
.socials__link:focus {
  color: var(--white-color);
  background-color: var(--active-color);
}

.clients__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-default-fill);
  border: 1px solid var(--social-default-fill);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}

/* footer */

.footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}

.footer__solid {
  display: flex;
  align-items: baseline;
}

.footer__first-part {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.adress {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: var(--footer-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--active-color);
  text-decoration-color: var(--active-color);
}

.footer__text {
  margin-bottom: 20px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__socials-list {
  display: flex;
  justify-content: flex-start;
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--white-color);
  background-color: var(--footer-socials-background);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-link:hover,
.footer__socials-link:focus {
  background-color: var(--active-color);
}

.footer__socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__third-part {
  margin-left: 93px;
}

.subscribe {
  position: relative;
  width: 570px;
  color: var(--white-color);
}

.subscribe__item {
  display: flex;
  flex-direction: column;
}

.subscribe__text {
  margin-bottom: 20px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__input {
  width: 358px;
  padding: 15px 0 15px 15px;
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__input:focus {
  outline: none;
  border-color: var(--active-color);
}

.subscribe__input::placeholder {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
}

.subscribe__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--active-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

/* portfolio */

.portfolio__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* .button:not(:first-child) {
  margin-left: 8px;
} */

.portfolio__filters-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filters-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--gray-background-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filters-btn:hover,
.portfolio__filters-btn:focus {
  border-color: var(--active-color);
  color: var(--white-color);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__set {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -30px;
}

.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link .portfolio__overlay-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay-text,
.portfolio__link:focus .portfolio__overlay-text,
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio__card-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__card-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio__card-content {
  padding: 20px 24px;
  text-align: start;
  border-bottom: 1px solid var(--box-border-color);
  border-left: 1px solid var(--box-border-color);
  border-right: 1px solid var(--box-border-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  transition: background-color 4s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  position: absolute;
  width: 11px;
  height: 11px;
  color: var(--black-color);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--active-color);
}

/* modal-content */

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: var(--main-text-color);
}

.modal__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
}

.modal__item.modal__item-send {
  margin-bottom: 20px;
}

.modal__textarea {
  resize: none;
  height: 120px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  color: var(--modal-textarea-color);
}

.modal__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input {
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item:focus-within > .modal__textarea,
.modal__item:focus-within > .modal__input,
.modal__item:focus-within > .modal__icon {
  fill: var(--active-color);
  outline: none;
  border-color: var(--active-color);
}

.modal__checkbox {
  margin-bottom: 30px;
}

.modal__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  position: absolute;
  left: 52px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  background-color: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-input:checked + .modal__checkbox-text .modal__checkbox-icon {
  border-color: transparent;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: var(--active-color);
}

.modal__checkbox-text {
  display: inline-block;
  /* justify-content: space-between; */
  margin-left: 32px;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.modal__checkbox-link {
  text-decoration: underline;
  color: var(--active-color);
}

.modal__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 55px;
  border-radius: 4px;
  border-color: transparent;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--active-color);
}
