$main-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$active-color: #2196f3;
$dark-background-color: #2f303a;
$gray-background-color: #f5f4fa;
$border-line: #ececec;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$box-border-color: #eeeeee;
$principles-icon-background: #f5f4fa;
$social-default-fill: #afb1b8;
$footer-socials-background: rgba(255, 255, 255, 0.1);
$modal-background-color: rgba(0, 0, 0, 0.2);
$black-color: #000000;
$modal-textarea-color: rgba(117, 117, 117, 0.5);
